.attributeBox {
    font-size: .2em;
    box-sizing: border-box;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 10px 5px;
    max-width: 1200px;
}
.attributeBox:hover, .attributeBox:focus {
    box-shadow: $box-shadow-lg !important;
}
